<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list post</title>
</head>
<body>

    {% for post in posts %}
        <h1>{{post.title}}</h1>
        <p>{{post.desc}}</p>
        <small>{{post.created_on | date}}</small>
        <h3>{{post.owner.uesrname}}</h3>

        <p>
            {% comment %} <a href="/blog/class_post_detail/{{post.id}}" >show detail</a> {% endcomment %}
            <a href="{% url 'class_detail' post.id %}" >show detail</a>

        </p>
        
        {% for tag in post.tag.all %}
            {{tag.title}}
        {% endfor %}

        {% comment %}template: https://docs.djangoproject.com/en/3.2/topics/templates/ {% endcomment %}
        {% comment %} filter : https://docs.djangoproject.com/en/3.2/ref/templates/builtins/#ref-templates-builtins-filters {% endcomment %}
        <hr>
    {% endfor %}

    
</body>
</html>