
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maktab sharif</title>
</head>
<body>
    
    <h1>maktab sharif</h1>
    <h2>template worked!</h2>
    <h3>{{today}}</h3>
    <h3>{{title}}</h3>
    <hr>
    <h3>{{post.title}}</h3>
    <h3>{{post.id}}</h3>
    <h3>{{post.desc}}</h3>
    <h3>{{post.shortdesc}}</h3>
    <h3>{{post.updated_on}}</h3>
    <hr>
    <h3>{{post.owner}}</h3>
</body>
</html>