{% extends "theme.html" %}

{% block content %}
    <div class="container">
        <div class="col-md-12 my-3">
            <form action="{% url 'delete-tag-mk' tag_id=tag.id %}" method="post">
                {% csrf_token %}
                
                <p>مطمئن هستیدکه میخواهید دیلیت کنید داداش !؟ واقعا {{tag.title}} پاک میشه ها</p>
                {{ form.as_p }}
                <input type="submit" value="بزن بریم">
                <a href="{%url 'tag-list' %}">برگشت به صفحه تگ ها</a>
            </form>
        </div>
    </div>

{% endblock content %}
